graft <name>
graft examples
graft tests

include LICENSE.txt
include mario.yml
include package.json
include README.md
include requirements.dev.txt
include requirements.txt
include tox.ini

global-exclude *.py[cod]
global-exclude __pycache__/*
